
.btn-secondery{
    margin-right: 25%;
    border-radius: 15px;
    padding:0.5rem 1.5rem;
    background-color:var(--color-theme) !important;
    border: 2px solid var(--color-theme);
    color:var(--color-darkest);
    box-shadow: 5px 5px 8px var(--color-shadow);
  }
  .btn-secondery:hover{
    border: 2px solid var(--color-darkest);
 } 
 
 .finish{
   text-align: center;
   font-size: 30px;
   color: white;
 }

h5{
  margin-left: 25%;
}
  
   
 