:root {
  --color-light: #fbfcfd;
  --color-dark: #dddddd;
  --color-medium: #f8f7f9;
  --color-darkest: #380944;
  --color-theme: #e7abf6;
  --color-accent: #f9cd0b;
  --color-shadow: #717070;
}

h4{
  text-align: center;
}

.options{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.q-btn{
  width: 50%;
  display: block;
  font-size: 1.3rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  box-shadow: 5px 5px 8px var(--color-shadow);
}
.q-btn:not([disabled]):hover{
 background-color: var(--color-light);
 color: var(--color-darkest);
}
.btn-option:not([disabled]):hover{
 transform:translateX(1rem);
}
.btn[disabled]:hover{
 cursor: not-allowed;
}
.btn-option{
 width: 50%;
 text-align: left;
}
.btn-option.correct{
 background-color: var( --color-theme);
 border: 2px solid var( --color-theme);
 color: var( --color-light);
}
.btn-option.wrong{
 background-color: var(--color-accent);
 border: 2px solid var(--color-accent);
 color: var( --color-light);
}
