 .table{
    border: 2px solid rgb(229, 225, 225);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
} 
  /* Աղյուսակի բուն մաս */
  .table {
    width: 100%;
    border-collapse: collapse;
     border-radius: 8px;
     overflow: hidden; 
    font-size: 1.5rem;
    padding: 20px;
    align-items: center; 
  }
  
  /* Աղյուսակի վերնագրի ձևավորում */
   .thead-dark {
    background-color:red;
    color: white;
  } 

  
  
